@import "../utilities/variables";

.Activity {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: $color_background-gray;
  background: $color_background-linear;

  h1 {
    margin: 24px 24px 16px 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid $color_primary;
  }

  p {
    padding: 24px;
  }

  .btnContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 24px 24px;

    h4 {
      display: flex;
      align-items: center;
    }

    button {
      background: $color_text-midtone;
      padding: 8px 12px;
      color: white;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.521);
      &:hover {
        transition: $anim-time;
        background: $color_primary;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.521);
      }
    }
  }
}
.Map_container{
  width: 100%;
  height: 60vh;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  border: 1px solid gray;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image:url('../../public/images/mappa\ grayscale.png');
    background-size: contain;
    filter: grayscale(0.8) blur(2px);
  }
  svg{
    transform: scale(7);
    filter: invert(56%) sepia(24%) saturate(1152%) hue-rotate(152deg) brightness(89%) contrast(98%);
  }
  h5{
    position: relative;
    bottom: 20%;
    color:#2f97c1;
    text-shadow: rgb(228, 248, 255) 1px 0 10px;
  }
}