@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

.ActivityCard {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: clip;
  flex: 0 0 auto;
  scroll-behavior: smooth;
  scrollbar-color: transparent;
  // border: 2px solid red;

  .ActivityCardDiv {
    // border: 2px solid green;
    display: flex;
    min-width: 180px;
    max-width: 180px;
    min-height: 250px;
    max-height: 250px;
    align-items: center;
    flex-direction: column;
    .ActivityCardImg {
      //   border: 2px solid red;
      min-width: 180px;
      max-width: 180px;
      min-height: 165px;
      max-height: 165px;
      object-fit: fill;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.589);
      border-radius: 4px;

      object-fit: cover;
    }
    .ActivityCardTitle {
      margin-top: 10px;
      font-size: 13px;
      font-weight: 600;
      line-height: 15px;
    }
  }
}
