@import "../utilities/variables";

.Activities {
  background: $color_background-gray;
  background: $color_background-linear;
  // border: 2px solid red;
  .ActivitiesTitle {
    padding: 24px;
    &::after {
      content: "";
      display: block;
      border-bottom: 1px solid $color_tertiary;
      padding-top: 15px;
      width: 100px;
    }
  }
  .ActivitiesSpan {
    font-family: $ff-alt;
    margin-top: 15px;
    margin-left: 24px;
  }
  .ActivitiesSelector {
    // margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.589);
    border-radius: 4px;
  }

  .ActivitiesDiv {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100vw;
    margin: 0 auto;
    margin-top: 30px;
    @media screen and (min-width: 800px) {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
      grid-row-gap: 30px;
      row-gap: 30px;
    }

    .ActivitiesLink {
      text-decoration: underline;
      color: $color_text-dark;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

// @media screen and (min-width: 800px) {
//   .ActivitiesDiv {
//     border: 2px solid green;
//     display: grid;
//     justify-items: center;
//     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//     grid-column-gap: 20px;
//     -moz-column-gap: 20px;
//     column-gap: 20px;
//     grid-row-gap: 30px;
//     row-gap: 30px;
//   }
// }
