@import "../utilities/mixins";
@import "../utilities/variables";

.CardListTitle {
  &::after {
    content: "";
    display: block;
    border-bottom: 1px solid $color_primary;
    padding-top: 15px;
    width: 100px;
  }
}
.CardList {
  padding: 40px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.Link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
