@import "../utilities/variables";

.MainContent {
  background: $color_background-gray;
  background: $color_background-linear;
  overflow-y: scroll;
  overflow-x: clip;
  flex: 0 0 auto;
  scroll-behavior: smooth;
  scrollbar-color: transparent;

  .CityOverViewTitle {
    &::after {
      content: "";
      display: block;
      border-bottom: 1px solid $color_primary;
      padding-top: 15px;
      width: 100px;
    }
  }
  .Desc {
    margin: 60px 25px 75px;
    @media (min-width: 768px) {
      padding-left: 60px;
      padding-right: 60px;
    }
    
  }

  .CityOverViewText {
    color: $color_text-dark;
  }
}

.Exp {
  flex-direction: column;

  .ExpTitle {
    &::after {
      content: "";
      display: block;
      border-bottom: 1px solid $color_tertiary;
      padding-top: 15px;
      width: 100px;
    }
  }

  .ExpList {
    margin: 30px 0 20px;
    display: flex;
    justify-content: flex-start;
    gap: 24px;

    .LinkListBtn {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }
    
  }
}


.LinkList {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}