@import "../utilities/variables";

.CityActivityCard {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .CityActivityCardDiv {
    // border: 2px solid red;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.589);
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.589);
    border-radius: 4px;
    .CityActivityCardImg {
      // border: 2px solid violet;
      min-width: 300px;
      max-width: 300px;
      min-height: 265px;
      max-height: 265px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      object-fit: cover;
    }
    .CityActivityCardText {
      // border: 2px solid yellow;
      height: 150px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .CityActivityCardTitle {
        // border: 2px solid red;
        text-align: flex-start;
        font-size: 16px;
      }

      .CityActivityCardDescriptionDiv {
        // border: 2px solid violet;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .CityActivityCardPrice {
          color: $color_tertiary;
        }
      }
    }
  }
}
