.MainContent {
  background-color: #ededed;
  overflow-y: scroll;
  overflow-x: clip;
  flex: 0 0 auto;
  scroll-behavior: smooth;
  scrollbar-color: transparent;
}

.Exp {
  display: flex;
  flex-direction: column;

  .ExpList {
    gap: 24px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    position: relative;

    overflow-x: scroll;
    overflow-y: clip;
    flex: 0 0 auto;
    scroll-behavior: smooth;
    scrollbar-color: transparent;
    .LinkList {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}
