.Footer {

    *{
        margin: 0;
        padding: 0;
    }

    padding: 24px;
    background: #3d3d3d;
    display: flex;
    justify-content: space-between;
    color: white;

    .__logo{
        display: flex;
        align-items: center;
        gap: 8px;

        p{
            width: 100px;
        }
    }

    .__list{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h4{
            margin: 0 0 8px 0;
            display: flex;
            padding-bottom: 16px;
            border-bottom: 1px solid white;
        }

        p{
            background: #313131;
            border-radius: 8px;
            padding: 8px;
            text-align: center;
        }

        .__container {
            display: flex;
            flex-wrap: wrap;
            width: 300px;
            gap: 4px;
        }
    }

    .__socialIcons{
        display: flex;
        flex-direction: column;
        text-align: center;

        h4{
            margin: 0 0 8px 0;
            display: flex;
            padding-bottom: 16px;
            border-bottom: 1px solid white;
        }
    }
}