@import '../utilities/variables';



.HeroCity {
  z-index: 9;
  .cont_image {
    position: relative;
    height: 100vh;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .Caption {
    width: 50%;
    height: 50%;
    margin: auto;
    backdrop-filter: blur(1px);
    h2 {
      color: white;
      text-shadow: 2px 2px 4px #131313;
      margin-bottom: 30px;
      font-size: 5rem;
      // font-weight: $fw-light;
      // @media (max-width: 767.98px) {
      //   font-size: 36px;
      // }
    }
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    // background: rgba(36, 32, 32, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: 768px) {
      padding: 20px 150px;
    }
    p {
      color: white;
      text-align: center;
      text-shadow: 2px 2px 4px #131313;
    }
  }
}


