.Exp {
  //   border: 2px solid red;
  display: flex;
  flex-direction: column;

  .ExpList {
    // border: 2px solid blue;
    gap: 24px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    position: relative;

    overflow-x: scroll;
    overflow-y: clip;
    flex: 0 0 auto;
    scroll-behavior: smooth;
    scrollbar-color: transparent;
    .LinkList {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.Desc {
  padding: 20px;
}
