@import '../utilities/variables';


.Navbar {
	width: 100%;
	background-color: #484645;
	color: white;
	display: flex;
	align-items: center;

	&.position_fixed {
		position: fixed;
		width: 100%;
		top: 0;
 		z-index: 15;
	}
	
	.Container {
		@media (min-width: 768px) {
			padding-left: 45px;
			padding-right: 45px;
		}
	}

	.input {
		background: $color_text-midtone;
		color: white;
	}

	ul {
		width: 100%;
		margin: 0;
		// padding: 0 20px;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.CustomSearch {
		display: flex;
		flex-direction: column;
		position: relative;

		input {
			border: none;
			height: 45px;
			border-radius: 5px;
			background-color: rgba(255, 255, 255, 0.4);
			outline: none;
			color: rgb(53, 53, 53);
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

			&:focus {
				background-color: rgba(255, 255, 255, 0.6);

			}

			&::placeholder {
				color: white;
				opacity: 1;
				padding-left: 10px;
			}

			&:focus::placeholder {
				visibility: hidden;
			}
		}

		ul {
			display: flex;
			flex-direction: column;
			background-color: rgba(31, 29, 29, 0.8);
			z-index: 2;
			color: white;
			position: absolute;
			width: 100%;
			top: 100%;
			padding-left: 0;

			li {
				width: 100%;

				a {
					padding: 15px;
					display: block;

					&:hover {
						background-color: rgb(145, 145, 145);
						color: rgb(35, 35, 35);
						cursor: pointer;
					}
				}
			}
		}

	}

	.RelativeIcon {
		// position: relative;
		// top: 8px;
		// right: 5px;
		p {
			margin: 0;
			position: absolute;
			top: 25px;
			right: 25px;
			color: white;
			background-color: red;
			border-radius: 100px;
			padding: 0 3px;
			font-size: 13px;
		}
	}
	
}